<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229263644263-if2ha8meecamq40nf9vmmb04997mph2e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229263644263-if2ha8meecamq40nf9vmmb04997mph2e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>229263644263-kuebpnchkib4tehldarhblp5lehia0li.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBi32DnhPpfi1LAZPHWfhtBy7tnqkDbGnI</string>
	<key>GCM_SENDER_ID</key>
	<string>229263644263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Hackerton.Help-me</string>
	<key>PROJECT_ID</key>
	<string>sexy-b53e8</string>
	<key>STORAGE_BUCKET</key>
	<string>sexy-b53e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229263644263:ios:624b476dbd613d479366c2</string>
</dict>
</plist>